/* <!--670~1000px = change profile display ---> */

@media(max-width:1000px){
  .profile-container{
    height:800px;
    width:100%;
    display:block;
  }
  .image-box{
    width:90%;
    height:300px;
  }
  .profile-list{
    display:inline-block;
    height:350px;
    width:70%;
    padding-top:10px;
    padding-left:10px;

    /* margin-top:20px; */
    /* margin-bottom:30px; */
  }
}
/* <!--~670 = change profile display,delete navi bar ---> */
@media(max-width:768px){
  .headerlist{
    display:none;
  }
  .headerlogo{
    width:50%;
  }
  /* .menu{
    display:block;
    margin:0 0 0 auto;
    color:gray;
    font-size:20px;
    padding:10px 20px;
  }  */
.navbar{
  display:block;
  margin:0 0 0 auto;
  width:25%;
  text-align: left;
}


.navbar-toggler{
  margin:0 0 0 auto;
  background-color:whitesmoke;
  display:block;
}

#menu{
  background-color:whitesmoke;
  border-radius: 10px;
  padding-top:10px;
}

#menu li{
  margin:0 0 auto 0;
  height:50px;
  display:inline-block;
  width:90%;
}


  .profile-container{
    height:600px;
    width:100%;
    display:block;
  }
  .image-box{
    width:95%;
    height:300px;
  }
  .profile-list{
    display:inline-block;
    height:250px;
    width:95%;
    padding-top:10px;
    font-size:12px;
    /* margin-top:20px; */
    /* margin-bottom:30px; */
  }
  .profile ul{
    list-style:none;
    padding-inline-start:10px;
  }
  
  }
